<app-add-user (userNameEE)="addUser($event)"></app-add-user>

<div class="mt-3">
  <h3>Users List</h3>
  <button class="btn btn-primary" (click)="changeName()">Change Name</button>
  <button class="btn btn-danger ms-5" (click)="destroyUserComponent()">Destroy User Component</button>
  <app-user *ngFor="let user of users;" [user]="user" [name]="name">
    <p #userParagraph>User name : {{ user }}</p>
  </app-user>
</div>

<div class="appHighlightText mb-3">
  Background color red using custom attribute directive.
</div>
<div appRendererHighlight [mouseOverColor]="'maroon'" [mouseLeaveColor]="'black'" [clickColor]="'red'">
  <code>defaultColor = 'gray' [mouseOverColor]="'maroon'" [mouseLeaveColor]="'black'" [clickColor]="'red'"</code>
</div>

<div *ngIf="isAvailable">
  Show the div when isAvailable is true using ngIf.
</div>

<p class="d-none">Angular will convert the above div to the below div.</p>

<ng-template [ngIf]="isAvailable">
  <div>
    Show the div when isAvailable is true using ng-template with ngIf.
  </div>
</ng-template>