<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary my-3" (click)="onUserAdded()">Add User</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="form-control" [(ngModel)]="filterString">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let user of users | filter: filterString" class="my-3">
        <div>{{ user.name | shorten: 7 }}</div>
        <div>{{ user.dateOfBirth | date : 'fullDate' | uppercase }}</div>
      </div>
    </div>
  </div>
</div>